::-webkit-scrollbar { width: 0px }
%default-header {
  height: 1em;
  padding-top: 2px;
  color: #e5e5e5ff;
  font-family: Arial;
  text-align: center;
  background-color: #262626;
  border-radius: 4px 4px 0px 0px;
}

button {outline: none}
p, label, h1, h2, h3, span { 
  font-family: Arial, Helvetica, sans-serif 
}

%deafult-main {background-color: #C4C4C4}
body {
  margin: 0; 
  height: 100vh;
  color: white;
  padding-left: 4em; 
  padding-right: 4em;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #bfbaa6ff;
  background-image: url("../img/wallpaper/wallpaper_2.svg");
}

// Nav
.nav {
  color: white;
  margin-top: .5em;
  border-radius: 4px;
  button {
    border: none;
    color: white;
    font-size: 25px;
    margin-top: 10px;
    &:hover {color: white}
    background-color: rgba(0,0,0,0);
  }
  .popup-btn {
    width: 60px;
    border: none;
    border-radius: 20px; 
    background-color: #d1ccc3ff; 
    img {
      vertical-align: middle;
    }
    &:nth-of-type(2) {
      margin-left: 5px;
    }
  }
}

/* Section 1 */
.section-1 {
  left: 70em;
  right: 4em;
  position: absolute;
  vertical-align: top;
  height: calc(100vh - 200px);
  .container {
    margin-top: 20px;
    overflow: auto;
    .extra-services__btn {
      border: none;
      width: 170px;   
      font-size: 20px; 
      padding: 10px 20px; 
      border-radius: 10px; 
      box-sizing: border-box;
      backdrop-filter: blur(5px);
      background-color: lightblue;
      background-color: rgba(255, 255, 255, .5);  
    }
    .box {
      width: 100%; 
      height: 30em; 
      position: relative; 
      border-radius: 10px; 
      margin-bottom: 30px;
      background-color: #d1ccc3ff;
      // Enity View
      .box-logs {
        width: 100%;
        display: none;
        header {@extend %default-header; border-radius: 10px 10px 0px 0px;}
        main {
          height: 28em;   
          position: relative;
          background-color: #d1ccc3ff;
          border-radius: 0px 0px 4px 4px;
          .log__stats {
            width: 50%; 
            padding: 10px;
            color: black;
            font-size: 1.2em;
            position: absolute; 
            vertical-align: top; 
            display: inline-block;
          }
          .log__img {
            right: 0; 
            width: 50%; 
            height: 28em; 
            position: absolute; 
            vertical-align: top; 
            display: inline-block; 
            background-size: 200px; 
            background-color: #262626;
            background-position: center; 
            background-repeat: no-repeat;
            background-image: url('/static/home/img/test.gif')
          }
        }
      }
      .box-devices {
        top: 0;
        left: 0;
        right: 0;
        bottom: 1em;
        padding: 10px;
        color: #d1ccc3ff;
        position: absolute;
        border-radius: 10px;
        background-color: #262626;
        table {
          width: 100%;
          border-collapse: collapse;
          font-family: arial, sans-serif;
        }
        
        td, th {
          padding: 8px;
          text-align: left;
          border: 1px solid #dddddd;
        }
        
        tr:nth-child(even) {
          background-color: #dddddd;
        }
      }
      .box-wallpapers {
        top: 0;
        left: 0;
        right: 0;
        bottom: 1em;
        display: none;
        padding: 10px;
        background-color: #262626;
        position: absolute; 
        img {
          margin: 10px;
        }
      }

      .box-weather {
        top: 0;
        left: 0;
        right: 0;
        bottom: 1em;
        padding: 10px;
        display:none;
        color: #d1ccc3ff;
        position: absolute;
        border-radius: 10px;
        background-color: #262626;
        .container-1 {
          padding: 5px;
          height: 150px;
          position: relative;
          border-radius: 5px; 
          background-color: #d1ccc3ff; 
          .col-1 {
            vertical-align: top;
            display: inline-block;
            label {
              font-size: 2em;
              color: #262626;
              vertical-align: top;
            }
            img {
              right: 0;
              margin: 10px;
            }
          }
          .col-2 {
            margin-left: calc(100% - 200px);
            display: inline-block;
          }
        }
        .container-2 {
          table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
          }
          
          td, th {

            border: 1px solid #dddddd;
            text-align: center;
            padding: 8px;
          }
          
          tr:nth-child(even) {
            background-color: #dddddd;
          }
        }
      }
     
      .box-nav {
        left: 0; 
        right: 0; 
        bottom: 0; 
        height: 25px; 
        position: absolute; 
        text-align: center; 
        background-color: #d1ccc3ff; 
        border-radius: 0px 0px 10px 10px;
        img {
          margin-top: 4px;
        }
      }
    }
  }
  .row-1 {
    width: 100%;
    margin-top: 1em;
    position: relative;
    display: inline-block;
    .row-1__notifications {
      left: 0;
      right: 54em;
      width: 41em;
      color: #cccccc;
      position: absolute;
      border-radius: 5px;
      text-align: center;
      vertical-align: top;
      display: inline-block;
      font-family: Arial, Helvetica, sans-serif;
      header {
        padding-top: 10px;
        color: #f2e1d5ff;
        background-color: #262626;
        border-bottom: 3px solid #262626;
      }
      .notifications-list {
        height: 10em;
        color: black;
        overflow: scroll;
        text-align: left;
        border: 8px solid #262626;
        table {
          width: 100%;
          border-collapse: collapse;
          font-family: arial, sans-serif;
        }
        
        td, th {
          padding: 8px;
          text-align: left;
          border: 1px solid #dddddd;
        }
        
        tr:nth-child(even) {
          background-color: #dddddd;
        }
      }
    }
    
    .row-1__box-1 {
      right: 0;
      width: 25em;
      height: 14.7em;
      border-radius: 5px;
      position: absolute;
      vertical-align: top;
      display: inline-block;
      font-family: Arial, Helvetica, sans-serif;
      .box-icon {
        height: 12.3em;
        text-align: center;
        border: 8px solid #262626;
      }
      .box-footer {
        border: none;
        height: 38px;
        color: white;
        font-size: 17px;
        padding-top: 5px;
        text-align: center;
        box-sizing: border-box;
        background-color: #262626;
        font-family: Arial, Helvetica, sans-serif;
        a {
          color: #ff4d4d;
          text-decoration: none;
        }
      }
    }
    .row-1__box-2{
      right: 26em;
      width: 25em;
      height: 14.7em;
      border-radius: 5px;
      position: absolute;
      vertical-align: top;
      display: inline-block;
      font-family: Arial, Helvetica, sans-serif;
      .box-icon {
        height: 12.3em;
        text-align: center;
        border: 8px solid #262626;
        img {
          margin-top: 1em;
        }
      }
      .box-footer {
        border: none;
        height: 38px;
        color: white;
        font-size: 17px;
        padding-top: 5px;
        text-align: center;
        box-sizing: border-box;
        background-color: #262626;
        font-family: Arial, Helvetica, sans-serif;
      }
    }
  }
  
  // Row 2
  .row-2 {
    width: 100%;
    position: relative;
    .col__1 {
      width: 45em;
      vertical-align: top;
      display: inline-block; 
    }
  }

  
  .drone__main {
    padding: 5px;
    font-family: Arial;
    text-align: center;
    box-sizing: border-box;
    .donrei {
      height: 8em;
      margin: 50px; 
      margin-top: 10px; 
      margin-bottom: 0px;
    }
    h5 {
      color: white; 
      margin-left: 10px; 
      margin-bottom: 0px;
    }
    label {margin-left: 10px}
    .qr {
      text-align: center;
    }
    .drone__tasks {
      left: 0; 
      right: 0; 
      bottom: 0; 
      margin-left: auto;
      position: absolute;
      text-align: center; 
      margin-right: auto; 
      margin-bottom: 1em;
    }
  }
  .astion__container {
    text-align: center;
    .drone__mode {opacity: .5}
  }
}

// Section 2
.section-2 {
  width: 60em;
  margin-top: 10px;
  overflow: scroll;
  vertical-align: top;
  height: calc(100vh - 200px);
  .container {
    left: 4em;
    margin-right:0;
    margin-top: 1em;
    vertical-align: top; 
    display: inline-block; 
    // Fixtures
    .fixtures {
      .tool-btn {
        border: none; 
        width: 170px;   
        margin: 20px;
        height: 150px;
        margin-left: 0;
        font-size: 20px; 
        padding: 10px 20px; 
        vertical-align: top;
        border-radius: 10px; 
        box-sizing: border-box;
        backdrop-filter: blur(5px);
        background-color: lightblue;
        background-color: rgba(255, 255, 255, .5);  
      }
    }

    // Devices
    .devices {
      overflow: auto;
      vertical-align: top;
      &::-webkit-scrollbar { width: 0px }
    
      .device__select {
        width: 3em;
        height: 3em; 
        margin: 20px;
        margin-left: 0;
        font-size: 3em;
        border-radius: 4px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-color: #faf2f0ff;
        border: inset 30px transparent;
        background-color: rgba(88, 75, 79, .6);
        &:hover {
          background-color: #d1ccc3ff;
        }
        backdrop-filter: blur(5px);

        &:focus { background-color: lightblue; }
        &[data-for=entity-security] {background-image: url("../img/security.svg")}
        &[data-for=entity-armor] {background-image: url("../img/armor.svg")}
        &[data-for=entity-assistant] {background-image: url("../img/assistant.svg");}
        &[data-for=entity-server] {background-image: url("../img/server.svg");}
      }  
    }

    // Apps
    .apps {
      .app-select {
        width: 3em;
        height: 3em; 
        margin: 20px;
        margin-left: 0;
        font-size: 3em;
        border-radius: 4px;
        background-size: cover;
        backdrop-filter: blur(5px);
        background-position: center;
        background-repeat: no-repeat;
        background-color: rgba(88, 75, 79, .6);
        border: inset 30px transparent;
        &.app-select__drive {
          background-image: url("/static/home/img/folder.png");
        }
        &.app-select__catalog {
          background-image: url("/static/home/img/package.png");
        }
        &:hover {
          background-color: #d1ccc3ff;
        }
      }
    }

    // Monitor
    .monitor {
      .resource-monitor {
        height: 7em; 
        width: 13em; 
        padding: 5px; 
        margin: 20px;

        margin-left: 0px;
        border-radius: 5px; 
        vertical-align: top;
        display: inline-block; 
        box-sizing: border-box;
        background-color: green; 
        backdrop-filter: blur(5px);
        background-color: lightblue;
        background-color: rgba(255, 255, 255, .5); 
      }
    }
  }
}

.footer {
  left: 0; 
  right: 0;
  bottom: 0; 
  height: 30px; 
  text-align: center; 
  position: absolute; 
  background-color: grey;
  backdrop-filter: blur(5px); 
  background-color: rgba(50, 50, 50, .5);   
}

.popup-notification {
  top: 3em; 
  right: 3em; 
  width: 200px; 
  height: 75px;
  display: none;
  border-radius: 5px;
  position: absolute; 
  background-color: white; 
}

.popup-console {
  left: 0;
  top: 5em;
  right: 0;
  width: 35em;
  margin: auto;
  display: none;
  position: absolute; 
  header {
    height: 30px; 
    padding: 5px;
    box-sizing: border-box;
    background-color: white; 
    border-radius: 5px 5px 0px 0px;
  }
  .ai__container {
    //left: 10px;
    //bottom: 10px;
    //right: 40em;
    width: 34em;
    width: 100%;
    background-color: #262626;
    .ai__chat {
      width: 100%;
      height: 25em;
      padding: 10px;
      color: grey;
      overflow-y: scroll;
      border-radius: 30px;
      box-sizing: border-box;
    }
    .ai__input__container {
      margin-top: 15px;
      background-color: #584b4f;
      border-radius: 0px 0px 5px 5px;
    }
    img {
      vertical-align: middle;
    }
    .ai__input {
      border: none;
      outline: none;
      height: 2em;
      font-size: 17px;
      color: #ccccccff;
      vertical-align: middle;
      width: calc(100% - 29px);
      border-radius: 0px 0px 5px 5px;
      background-color: rgba(0,0,0,0);
    }
  }
}
.popup-access {
  top: 35%;
  left: 0; 
  right: 0;
  width: 30em;
  margin: auto;
  height: 20em;
  display: none;
  text-align: center;
  position: absolute;
  border-radius: 5px;
  //border: 5px solid #faf2f0ff;
  background-color: #f2e1d5ff;
  header {
    height: 30px;
    color: white;
    border-radius: 5px 5px 0px 0px;
    font-size: 20px;
    padding-top: 10px;
    background-color: #262626;
    font-family: Arial, Helvetica, sans-serif;
  }
  button {
    border: none;
    font-size: 1.2em;
    margin-top: 20px;
    border-radius: 2px;
    background-color: white;
  }
}

.app {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  position: absolute; 
  header {
    height: 30px;
    background-color: #d1ccc3ff;
    .frameClose {
      float: right;
      margin: 5px;
    }
  }
  iframe {
    width: 100%;
    border: none;
    height: calc(100vh - 60px);
    overflow: auto;
    position: absolute;
    background-color: #d1ccc3ff;
  }
}

@media only screen and (max-width: 600px) {
  body { padding: 0; }
}
progress::-webkit-progress-bar {background-color: #999999}
progress::-webkit-progress-value {background-color: #595959}



