.login {
  font-family: sans-serif;
  background-color: #262626;
  color: white;
  margin: 0; 
  padding-left: 4em; 
  padding-right: 4em;
  background-color: #faf2f0ff;
  background-image: url("../img/wallpaper_2.svg"); /* The image used */
  height: 100vh; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  
  /* width */
  &::-webkit-scrollbar {width: 0px}
  /* Track */
  ::-webkit-scrollbar-track {background: #f1f1f1}
  /* Handle */  
  ::-webkit-scrollbar-thumb {background: #888}
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover { background: #555}

  .login__form {
    width: 27em;
    height: 17em;
    margin: auto;
    margin-top: 9em;
    border-radius: 6px;
    text-align: center;
    padding-bottom: 10px;
    backdrop-filter: blur(5px);
    background-color: rgba(255,255,255,.6);
    header {
      text-align: center;
      border-radius: 6px 6px 0px 0px;
      //background-color: #f2e1d5ff;
      label {
        font-size:3em;
        color: black;
        margin-top: -10px;
      }
    }
    label {
      text-align: left;
      font-size: 1.5em;
    }
    input {
      width: 10em;
      border: none;
      outline: none;
      font-size: 1.5em;
      border-radius: 3px;
      padding: 5px 5px;
      background-color: rgba(0,0,0,.1);
    }
    button {     
      border: none;
      width: 10.2em;
      outline: none;
      margin-top: 10px;  
      font-size: 1.5em;
      border-radius: 3px;
      color: #262626;
      background-color: rgba(0,0,0,0);
    }
  }
}
