::-webkit-scrollbar {
  width: 0px;
}

body {
  margin: 0;
  height: 100vh;
  padding-left: 4em;
  padding-right: 4em;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #bfbaa6;
  background-image: url("../img/wallpaper/new.svg");
  font-family: Arial, Helvetica, sans-serif;
}

.nav {
  color: white;
  margin-top: 0.5em;
  border-radius: 4px;
}
.nav button {
  border: none;
  color: white;
  font-size: 25px;
  margin-top: 10px;
  background-color: rgba(0, 0, 0, 0);
}
.nav button:hover {
  color: white;
}
.nav .popup-btn {
  width: 60px;
  border: none;
  border-radius: 20px;
  background-color: lightgray;
}
.nav .popup-btn img {
  vertical-align: middle;
}
.nav .popup-btn:nth-of-type(2) {
  margin-left: 5px;
}

.header-bots {
  height: 4.5em;
  padding: 5px;
  position: relative;
  border-radius: 4px;
  border-radius: 5em;
  box-sizing: border-box;
  backdrop-filter: blur(30px);
  background-color: rgba(38, 38, 38, 0.8);
}
.header-bots .bot-container {
  left: 0;
  right: 0;
  top: 20px;
  width: 20em;
  bottom: 20px;
  margin: auto;
  position: absolute;
  text-align: center;
}
.header-bots .bot-container img {
  margin: 0px 20px 0px 10px;
}
.header-bots .bot-time {
  right: 0;
  margin-top: 15px;
  color: #262626;
  font-size: 1.5em;
  position: absolute;
  margin-right: 20px;
}

.home-security .panel {
  height: 40em;
  padding: 30px;
  position: relative;
  border-radius: 6px;
  display: inline-block;
  box-sizing: border-box;
  width: calc(100% - 30em);
  backdrop-filter: blur(30px);
  background-color: rgba(38, 38, 38, 0.8);
  background-color: #d1ccc3;
}
.home-security .panel .term {
  top: 0;
  left: 0;
  bottom: 0;
  width: 20em;
  padding: 10px;
  overflow: auto;
  position: absolute;
  box-sizing: border-box;
  border-right: 2px solid #262626;
  border-radius: 6px 0px 0px 6px;
  background-color: #262626;
}
.home-security .panel .term::-webkit-scrollbar {
  width: 0px;
}
.home-security .panel .container {
  top: 10px;
  bottom: 30px;
  right: 1em;
  left: 22em;
  position: absolute;
}
.home-security .panel .container .bot label {
  color: white;
  font-size: 1.3em;
}
.home-security .panel .container .bot .battery {
  margin-right: 10px;
  float: right;
}
.home-security .panel .container .bot .cam {
  width: 50em;
  height: 20em;
  margin: auto;
  margin-top: 30px;
  border-radius: 5px;
  border: 3px solid #262626;
}
.home-security .panel .container .bot .controls {
  width: 50em;
  margin: auto;
}
.home-security .panel .container .bot .controls .c1 {
  margin-top: 3em;
  margin-left: 10em;
  text-align: center;
  vertical-align: top;
  display: inline-block;
  vertical-align: middle;
}
.home-security .panel .container2 {
  top: 0;
  bottom: 0;
  left: 20em;
  right: 0em;
  position: absolute;
}
.home-security .panel .container2 .a {
  width: 70%;
  text-align: center;
  vertical-align: top;
  display: inline-block;
  height: calc(100% - 20px);
}
.home-security .panel .container2 .a h1 {
  font-size: 3em;
  color: #6f916f;
}
.home-security .panel .container2 .a button {
  border: none;
  font-size: 1.5em;
  color: #ba9391;
  background-color: rgba(0, 0, 0, 0);
}
.home-security .panel .container2 .b {
  float: right;
  margin-top: 10px;
  margin-right: 10px;
  vertical-align: top;
  display: inline-block;
  width: calc(30% - 20px);
  height: calc(100% - 40px);
  border-top: 2px solid #262626;
  border-right: 2px solid #262626;
}
.home-security .panel .container2 .b button {
  width: 100%;
  border: none;
  padding: 10px;
  display: block;
  text-align: left;
  font-size: 1.5em;
  background-color: #c2bfba;
  border-left: 2px solid #262626;
  border-bottom: 2px solid #262626;
}
.home-security .panel .container2 .b button:hover {
  background-color: lightblue;
}
.home-security .panel .container2 .b button img {
  margin-top: 5px;
  float: right;
}
.home-security .panel .container2 .b button img.go {
  display: none;
}
.home-security .panel .foot {
  bottom: 0;
  right: 1em;
  position: absolute;
}

.cams {
  width: 28em;
  right: 65px;
  height: 40em;
  text-align: center;
  border-radius: 5px;
  vertical-align: top;
  display: inline-block;
}
.cams .i {
  display: inline;
}
.cams .i .cam {
  left: 0;
  right: 0;
  width: 13em;
  margin-top: 12px;
  position: relative;
  vertical-align: top;
  display: inline-block;
  border-right: 5px solid #262626;
  border-bottom: 5px solid #262626;
  border-radius: 4px;
  background-color: #262626;
}
.cams .i .cam .a {
  height: 7.5em;
  border-radius: 4px 0px 0px 0px;
  background-color: #d1ccc3;
}
.cams .i .cam .a img {
  margin-top: 2em;
}
.cams .i .cam .label {
  color: white;
  margin-top: 5px;
  background-color: #262626;
}

.c1 button {
  border: none;
}

.tt label {
  color: #f2e1d5;
}
.tt input {
  border: none;
  outline: none;
  font-size: 15px;
  margin-left: 10px;
  color: #f2e1d5;
  width: calc(100% - 30px);
  background-color: rgba(0, 0, 0, 0);
}

.hh {
  color: white;
}

footer button {
  border: none;
  padding: 10px;
  font-size: 1.1em;
  border-radius: 3px;
  background-color: lightgray;
}
footer button:hover {
  color: #faf2f0;
  background-color: #262626;
}
footer button:focus {
  color: #faf2f0;
  background-color: #262626;
}
footer input {
  width: 325px;
  border: none;
  padding: 5px;
  outline: none;
  color: white;
  font-size: 1.2em;
  border-radius: 3px;
  background-color: #262626;
}

/*# sourceMappingURL=security.css.map */
