::-webkit-scrollbar { width: 0px }

body {
  margin: 0; 
  height: 100vh;
  padding-left: 4em; 
  padding-right: 4em;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #bfbaa6ff;
  background-image: url("../img/wallpaper/new.svg");
  font-family: Arial, Helvetica, sans-serif;
}

// Nav
.nav {
  color: white;
  margin-top: .5em;
  border-radius: 4px;
  button {
    border: none;
    color: white;
    font-size: 25px;
    margin-top: 10px;
    &:hover {color: white}
    background-color: rgba(0,0,0,0);
  }
  .popup-btn {
    width: 60px;
    border: none;
    border-radius: 20px; 
    background-color: lightgray; 
    img {
      vertical-align: middle;
    }
    &:nth-of-type(2) {
      margin-left: 5px;
    }
  }
}
.header-bots {
  height: 4.5em;
  padding: 5px;
  position: relative;
  border-radius: 4px;
  border-radius: 5em;
  box-sizing: border-box;
  backdrop-filter: blur(30px);
  background-color: rgba(38, 38, 38, .8);

  .bot-container {
    left: 0; 
    right: 0; 
    top: 20px; 
    width: 20em; 
    bottom: 20px; 
    margin: auto; 
    position: absolute; 
    text-align: center;
    img {
      margin: 0px 20px 0px 10px;
    }
  }
  .bot-time {
    right: 0; 
    margin-top: 15px; 
    color: #262626; 
    font-size: 1.5em;
    position: absolute; 
    margin-right: 20px; 
  }
}

.home-security {
  .panel {
    height: 40em;
    padding: 30px;
    position: relative;
    border-radius: 6px;
    display: inline-block;
    box-sizing: border-box;
    width: calc(100% - 30em);
    backdrop-filter: blur(30px);
    background-color: rgba(38, 38, 38, .8);
    background-color: #d1ccc3ff;
    .term {
      top: 0; 
      left: 0; 
      bottom: 0; 
      width: 20em; 
      padding: 10px;
      overflow: auto;
      position: absolute; 
      box-sizing: border-box; 
      border-right: 2px solid #262626;
      border-radius: 6px 0px 0px 6px;
      background-color: #262626;
      &::-webkit-scrollbar { width: 0px; }
    }

    .container {
      top: 10px; 
      bottom: 30px; 
      right: 1em; 
      left: 22em;
      position: absolute; 
      .bot {
        label {
          color: white;
          font-size: 1.3em;
        }
        .battery {
          margin-right: 10px;
          float: right;
        }
        .cam {
          width: 50em;
          height: 20em; 
          margin: auto; 
          margin-top: 30px;
          border-radius: 5px;
          border: 3px solid #262626; 
        }
        .controls {
          width: 50em;
          margin: auto;
          .c1 {
            margin-top: 3em; 
            margin-left: 10em; 
            text-align: center; 
            vertical-align: top; 
            display: inline-block; 
            vertical-align: middle;
          }
        }
      }
    }

    .container2 {
      top: 0; 
      bottom: 0; 
      left: 20em;
      right: 0em; 
      position: absolute; 
      .a {
        h1 {
          font-size: 3em;
          color: #6f916fff;
        }
        width: 70%;
        text-align: center;
        vertical-align: top;
        display: inline-block;
        height: calc(100% - 20px);
        button {
          border: none;
          font-size: 1.5em;
          color: #ba9391;
          background-color: rgba(0,0,0,0);
        }
      }
    
      .b {
        float: right;
        margin-top: 10px;
        margin-right: 10px;
        vertical-align: top;
        display: inline-block;
        width: calc(30% - 20px);
        height: calc(100% - 40px);
        border-top: 2px solid #262626;
        border-right: 2px solid #262626;
        button {
          width: 100%;
          border: none;
          padding: 10px;
          display: block;
          text-align: left;
          font-size: 1.5em;
          background-color: #c2bfba;
          border-left: 2px solid #262626;
          border-bottom: 2px solid #262626;
          &:hover { background-color: lightblue; }
          img {
            margin-top: 5px;
            float: right;
            &.go {
              display: none;
            }
          }
        }
      } 
    }
    .foot {
      bottom: 0; 
      right: 1em;
      position: absolute; 
    }
  }
}

.cams {
  width: 28em; 
  right: 65px; 
  height: 40em; 
  text-align: center;
  border-radius: 5px; 
  vertical-align: top;
  display: inline-block;
  
  .i {
    display: inline;
    .cam {
      left: 0;
      right: 0;
      width: 13em;
      margin-top: 12px;
      position: relative;
      vertical-align: top;
      display: inline-block;
      border-right: 5px solid #262626;
      border-bottom: 5px solid #262626;

      border-radius: 4px;
      background-color: #262626;
      .a {
        height: 7.5em;
        border-radius: 4px 0px 0px 0px;
        background-color: #d1ccc3ff;
        img { margin-top: 2em }
      }
      .label {
        color: white;
        margin-top: 5px;
        background-color: #262626;
      }
    }
  }
}

.c1 {
  button {
    border: none;
  }
}
.tt {
  label {
    color: #f2e1d5ff;
  }
  input {
    border: none;
    outline: none;
    font-size: 15px;
    margin-left: 10px;
    color: #f2e1d5ff;
    width: calc(100% - 30px);
    background-color: rgba(0,0,0,0);
  }
}
.hh {
  color: white;
}

footer {
  button {
    border: none;
    padding: 10px;
    font-size: 1.1em;
    border-radius: 3px;
    background-color: lightgray;
    &:hover {
      color: #faf2f0ff;
      background-color: #262626;
    }
    &:focus {
      color: #faf2f0ff;
      background-color: #262626;
    }
  }

  input {
    width: 325px;
    border: none;
    padding: 5px;
    outline: none;
    color: white;
    font-size: 1.2em;
    border-radius: 3px;
    background-color: #262626;
  }
}


